<div class="row content-field">
  <div class="product col-3">
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Dynastar</mat-card-title>
    </mat-card-header>
     <mat-card-content>
       <p>Menace 90 Skis with Xpress 11 GW Bindings</p>
       <div class="image img-1">
       </div>
     </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color = "primary" (click)= "goToLink(1)">VIEW</button>
    </mat-card-actions>
  </mat-card></div>
  <div class="product col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Salomon</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <p> S/Force 7 Skis with M11 GW Bindings</p>
      <div class="image img-2" >
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color = "primary" (click)= "goToLink(2)">VIEW</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="product col-3">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Fischer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>RC4 The Curv DTX 2019</p>
        <div class="image img-3"></div>
      </mat-card-content>

      <div mat-card-actions align="centre">
        <button mat-flat-button color = "primary" (click)= "goToLink(3)">VIEW</button>
      </div>
    </mat-card>
  </div>
</div>
