/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-field{
  display: flex;
  padding-top: 50px;
  margin: auto;
  width: auto;
}
